body {
    background-color: #0b090a;
}

.popular-leagues-section {
    flex: 1.2;
    margin-top: 30px;
}

.middle {
    flex: 3;
    
}

.right {
    flex: 1.2;
}

.container-fluid {
    height: auto;
}

.popular-leagues {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    background-color: #121212;

}

.league-header {
    background-color: #1f1f1f;
    border-bottom: 1px solid #252424;
    font-size: 18px;
    font-weight: 700;
    padding: 16px;
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
}

.league-list {
    cursor: pointer;
    border-bottom: 1px solid #252424;
    font-size: 14px;
    padding: 16px;
    display: flex;
    align-items: center;

}

.league-list:hover {
    background-color: rgba(170, 170, 170, 0.062)
}

.league-title {
    flex: 1;
    padding-left: 10px;
}

.league-list.ligue1 {
    border-bottom: none;
    border-end-start-radius: 12px;
    border-end-end-radius: 12px;
}

.active {
    background-color: #3d57d1;

}

tr:hover {
    background-color: rgba(170, 170, 170, 0.062);
    cursor: pointer;
}