
body {
    background-color: #0b090a;
}
.body-main{
    display: flex;
    flex-direction: row; 
    padding: 4rem 1rem 0 1rem;
}
.popular-leagues-section {
    flex: 1.2;
    margin-top: 30px;
}

.middle {
    flex: 3;

}

.Legends {
    flex: 1.2;
}

.container-fluid {
    height: auto;
}

.popular-leagues {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    background-color: #121212;

}

.league-header {
    background-color: #1f1f1f;
    border-bottom: 1px solid #252424;
    font-size: 18px;
    font-weight: 700;
    padding: 16px;
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
}

.league-list {
    cursor: pointer;
    border-bottom: 1px solid #252424;
    font-size: 14px;
    padding: 16px;
    display: flex;
    align-items: center;

}

.league-list:hover {
    background-color: rgba(170, 170, 170, 0.062)
}

.league-title {
    flex: 1;
    padding-left: 10px;
}

.league-list.ligue1 {
    border-bottom: none;
    border-end-start-radius: 12px;
    border-end-end-radius: 12px;
}

.active {
    background-color: #3d57d1;

}

tr:hover {
    background-color: rgba(170, 170, 170, 0.062);
    cursor: pointer;
}

/* fixtures */
tbody.fixtures-body {
    padding: 0;
}

.fixtures-body {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1px;
    padding: 0;

}

.fixtures-body>div {
    background-color: #252424;
}

/* Loader */
.jelly-triangle {
    --uib-size: 50px;
    --uib-speed: 1s;
    --uib-color: #ffffff;
    position: relative;
    height: var(--uib-size);
    width: var(--uib-size);
    filter: url('#uib-jelly-triangle-ooze');
}

.jelly-triangle__dot,
.jelly-triangle::before,
.jelly-triangle::after {
    content: '';
    position: absolute;
    width: 33%;
    height: 33%;
    background: var(--uib-color);
    border-radius: 100%;
}

.jelly-triangle__dot {
    top: 6%;
    left: 30%;
    animation: grow0 var(--uib-speed) ease infinite;
}

.jelly-triangle::before {
    bottom: 6%;
    right: 0;
    animation: grow0 var(--uib-speed) ease calc(var(--uib-speed) * -0.666) infinite;
}

.jelly-triangle::after {
    bottom: 6%;
    left: 0;
    animation: grow0 var(--uib-speed) ease calc(var(--uib-speed) * -0.333) infinite;
}

.jelly-triangle__traveler {
    position: absolute;
    top: 6%;
    left: 30%;
    width: 33%;
    height: 33%;
    background: var(--uib-color);
    border-radius: 100%;
    animation: triangulate var(--uib-speed) ease infinite;
}

.jelly-maker {
    width: 0;
    height: 0;
    position: absolute;
}

@keyframes triangulate {

    0%,
    100% {
        transform: none;
    }

    33.333% {
        transform: translate(120%, 175%);
    }

    66.666% {
        transform: translate(-95%, 175%);
    }
}

@keyframes grow0 {

    0%,
    100% {
        transform: scale(1.5);
    }

    20%,
    70% {
        transform: none;
    }
}
@media screen and (max-width:426px) 
{
    .popular-leagues-section {
                        display: none;
                     }
}