@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400
}

span {
    font-size: 20px;
    padding-left: 10px;
}




::-webkit-scrollbar {
    width: 0px;
}


button {
    background: none;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    margin: 10px;
}

button:hover {
    background: rgba(170, 170, 170, 0.062);
    transition: 0.5s;
}

button svg {
    color: #fff;
}



/* test header */

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #121212;
    padding: 0.1rem 2rem 0 1rem;
}
.header-icons{
    display: none;
}
.button1{
    display: none;
}
.nav {
    max-width: 100%;
    height: 3 rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


@media screen and (min-width:426px) {

    header {
        padding: 0.1rem;

    }

    .nav {
        margin: 0 0 0 10px;
    }

    .logo {
        font-size: 1px;
    }

    button {
        border: none;
        padding: 10px 10px;
        margin-right: 10px;
    }
    .sidebar{
        display: none;
    }


}


@media screen and (min-width:769px) {
    .header-icons{
        display: non;
    }
    .button1{
        display: none;
    }
    .menu {
        display: block;
    }

    .nav {
        justify-content: space-between;
    }
    .header-icons{
        padding: 10px;
        border-radius: 12px;
    }
    .header-icons:hover{
        background-color: #3d57d1;
        transition: 0.5s; 
        cursor: pointer;
       }
}
@media screen and (min-width:900px) {
    .header-icons{
        display: block;
    }
    .button1{
        display: block;
    }

}